{% extends 'universities/layout.html' %}

{% block title %} Форма реєстрації ступенів навчання | MARCI {% endblock %}
{% block content %}
    <div class="w-full flex justify-center">
        <ul class="steps mt-10 w-1/2 steps-vertical mb-10 lg:steps-horizontal">
          <li class="step step-primary">Реєстрація даних</li>
          <li class="step step-primary">Налаштування степенів навчання</li>
          <li class="step">Вибір фото</li>
          <li class="step">Кінець!</li>
        </ul>
    </div>
    <form action="" method="post">
    {% csrf_token %}
        <div class="registration-form flex p-10">
            <div id="container" class="w-1/2">
                <div id="" class="our_form  card flex-row justify-between flex bg-base-200 border-2 flex mb-4 border-base-300 p-4">
                    <div class="w-2/3 flex flex-col gap-3">
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend">Виберіть ступінь освіти</legend>
                          <select name="degree_type" class="select">
                              <option disabled selected>Ступінь освіти</option>
                              <option value="0">Молодший бакалавр</option>
                              <option value="1">Бакалавр</option>
                              <option value="2">Магістр</option>
                              <option value="3">Доктор філології</option>
                              <option value="4">Доктор наук</option>
                          </select>
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Скільки років триває навчання</legend>
                          <select name="degree_duration" class="select">
                              <option disabled selected>Тривалість навчання (в роках)</option>
                              <option>1</option>
                              <option>1.5</option>
                              <option>2</option>
                              <option>2.5</option>
                              <option>3</option>
                              <option>3.5</option>
                              <option>4</option>
                              <option>4.5</option>
                              <option>5</option>
                              <option>5.5</option>
                              <option>6</option>
                          </select>
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Ціна 1 року навчання ($)</legend>
                          <input name="degree_cost" type="text" placeholder="5000"  class="input" />
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Дата початку навчання</legend>
                            <input name="semester_start" type="date" class="input" />
                        </fieldset>
                    </div>
                    <div class="">
                        <button type="button" onclick="removeDegree(this)" class="btn btn-active btn-success">-</button>
                    </div>
                </div>
            </div>
            <div class="h-1/3 items-center flex ml-10">
                <button type="button" onclick="addDegree()" class="btn btn-active btn-success">+</button>
            </div>
            <div class="h-1/3 items-center flex ml-10">
                <button type="submit" value="submit" id="submitButton" class="btn btn-active btn-success">Зберегти</button>
            </div>
        </div>
    </form>
        <script>
            let form = null;
            let formIndex = 0;

            document.addEventListener("DOMContentLoaded", function () {
                form = document.querySelector('.our_form');
            });

            function addDegree() {
                let container = document.getElementById("container");

                // Клонуємо оригінальну форму (не клоновану раніше)
                let newForm = form.cloneNode(true);

                // Очистимо всі значення інпута
                newForm.querySelectorAll('input').forEach((input) => {
                    if (input.type !== 'hidden') {
                        input.value = '';  // очищаємо значення (іменно то, чого нам не хватало у коді.
                        // я не дуже розумію чому ми копіруєм самий начальний контейнер але потім його
                        // копіюючи нам і так надо очищати якусь інпути якшо ми копіруєм прям начальний
                        // де не має бути ніякої інфи але ну без цього не працює тому хай буде.)


                    }
                });

                // Скидаємо вибрані значення селекта (опять же не розумію але реально без цього не працює, я пробував)
                newForm.querySelectorAll('select').forEach((select) => {
                    select.selectedIndex = 0;  // скидаємо вибір
                });

                // Додаємо нову форму до контейнера
                container.appendChild(newForm);

                // Присвоюємо унікальні name всім input та select у новій формі
                // (цього нам тоже не хватало вроді бо у нас нейми повторювались і це чутуь біда)
                let index = formIndex;

                // Обробляємо селект
                newForm.querySelectorAll('select').forEach((section) => {
                    section.setAttribute('name', `degree_type_${index}`);
                    index++;
                });

                // Обробляємо інпут
                newForm.querySelectorAll('input').forEach((input) => {
                    if (input.getAttribute('name') !== 'csrfmiddlewaretoken') {
                        input.setAttribute('name', `input_${index}`);
                        index++;
                    }
                });

                //обновляєм індекс для наступних інпутів
                formIndex = index;
            }
            // дуже надіюсь шо ти поняв шо від нас хоче чат гпт і шо конкретно
            // він написав і будеш вчитися на своїх помилках йобаний алігофрен.
            // 3 дня фіксив баг і по ітогу його пофіксив чат гпт зхахахпх.
            // хотя по правді кажучи я раз 100 перебивав йому запрос бо він мені якусь
            // відверту фігню запропонував як фіксити цей баг, тому мені прийшлось самому
            // розбиратися в чому баг і тоді йому задавати конкретну задачу: зроби так шоб не
            // клонірувались данні в інпутах. опять же я не розумію чому вони клоніруються без
            // очищення якшо ми сука копіруєм саму начальну форму контейнера без ніяких данних,
            // але сука хай уже буде.

            function removeDegree(button) {
                const deleteForm = button.closest('.our_form');
                const forms = document.querySelectorAll('.our_form');
                    if (forms.length > 1) {
                        deleteForm.remove();
                    }
            }
        </script>
{% endblock %}
