{% extends 'universities/layout.html' %}

{% block title %} Реєстрація факультету. Зображення | MARCI {% endblock %}
{% block content %}

    <div class="content flex flex-col w-1/2 justify-center items-center mx-auto">
            <ul class="steps mt-10 steps-vertical mb-10 lg:steps-horizontal">
              <li class="step step-primary">Реєстрація даних</li>
              <li class="step step-primary">Налаштування степенів навчання</li>
              <li class="step step-primary">Вибір фото</li>
              <li class="step">Кінець!</li>
            </ul>
        <form class="flex flex-col p-10 bg-base-200 gap-10" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex gap-4 items-start">
                <!-- Зображення -->
                <div class="image-wrapper">
                    <label for="my_modal_1" class="btn w-24 h-24 p-0 overflow-hidden">
                        <img class="w-full h-full object-cover" src="/media/media/main_image_example.png">
                    </label>
                    <input type="checkbox" id="my_modal_1" class="modal-toggle" />
                    <div class="modal" role="dialog">
                        <div class="modal-box">
                            <img src="/media/media/main_image_example.png">
                        </div>
                        <label class="modal-backdrop" for="my_modal_1"></label>
                    </div>
                </div>

                <!-- Поле для завантаження файлу -->
                <div class="form-wrapper">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Зображення для головної сторінки факультету</legend>
                        <input type="file" name="main_image" class="file-input" />
                    </fieldset>
                </div>
            </div>
            <div class="flex gap-4 items-start">
                <!-- Зображення -->
                <div class="image-wrapper">
                    <label for="my_modal_2" class="btn w-24 h-24 p-0 overflow-hidden">
                        <img class="w-full h-full object-cover" src="/media/media/univer_logo.png">
                    </label>
                    <input type="checkbox" id="my_modal_2" class="modal-toggle" />
                    <div class="modal" role="dialog">
                        <div class="modal-box">
                            <img src="/media/media/univer_logo.png">
                        </div>
                        <label class="modal-backdrop" for="my_modal_2"></label>
                    </div>
                </div>
                <!-- Поле для завантаження файлу -->
                <div class="form-wrapper">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Зображення логотипу факультету (з прозорим фоном)</legend>
                        <input type="file" name="logo_image" class="file-input" />
                    </fieldset>
                </div>
            </div>
            <div class="">
                <!-- Поле для завантаження файлу -->
                <div class="form-wrapper">
                    <fieldset class="fieldset w-full">
                        <legend class="fieldset-legend">Зображення факультета (до 30 фото)</legend>
                        <input type="file" name="additional_image" class="file-input w-full" multiple/>
                    </fieldset>
                </div>
            </div>
            <button type="submit" id="submitButton" class="btn btn-active btn-success mt-4">Підтвердити</button>
        </form>
    </div>


{% endblock %}

