{% extends 'universities/layout.html' %}

{% block title %} Список універитетів | MARCI {% endblock %}
{% block content %}
<div class="ml-25 mr-25 h-full">
    <aside class="float-left h-100 w-1/4 bg-[var(--color-base-300)] mr-10">
        <h2 class="text-center mt-4 mb-4">Фільтри</h2>
        <form id="filterForm" action="" method="GET">
            <div class="join filter-checkbox join-vertical bg-base-100 w-full">
              {% for field in filter.form %}
                <div class="collapse collapse-arrow join-item border-base-300 border">
                    <input class="" type="checkbox" name="my-accordion-4" />
                    <div class="collapse-title font-semibold">{{ field.label_tag }}</div>
                    <div class="collapse-content text-sm">{{ field }}</div>
                </div>
              {% endfor %}
            </div>
        </form>
    </aside>
<div class="flex flex-col items-center gap-5" id="facultyResults">
    {% include 'universities/faculty_template.html' %}
    <div class="drawer flex drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content absolute right-0 fixed right-4 bottom-4">
        <label for="my-drawer-4" class="drawer-button btn btn-base-200 text-xl border-base-content bo p-5">
            <i class="fa-solid fa-headset"></i>
        </label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="menu bg-base-200 text-base-content min-h-full w-80 p-4 flex flex-col justify-between">
            <div>
                {% for message in chatgpt_messages_history %}
                    {% if message.role == "user" %}
                	<div class="chat chat-start">
                      <div class="chat-bubble">
                        {{ message.content }}
                      </div>
                    </div>
                    {% endif %}
                    {% if message.role == "assistant" %}
                    	<div class="chat chat-end">
                            <div class="chat-bubble">{{ message.content}}</div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <form method="post">
                {% csrf_token %}
                <textarea class="textarea" name="user_input" placeholder="Напишіть повідомлення до чатботу"></textarea>
                <input type="submit" name="action" value="Send" class="btn" />
                <input type="submit" name="action" value="ClearData" class="btn" />
            </form>
        </div>
      </div>
    </div>
    </div>
</div>
    {% comment %}<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        alt="Tailwind CSS chat bubble component"
        src="https://img.daisyui.com/images/profile/demo/kenobee@192.webp"
      />
    </div>
  </div>
  <div class="chat-header">
    Obi-Wan Kenobi
    <time class="text-xs opacity-50">12:45</time>
  </div>
  <div class="chat-bubble">You were the Chosen One!</div>
  <div class="chat-footer opacity-50">Delivered</div>
</div>
<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        alt="Tailwind CSS chat bubble component"
        src="https://img.daisyui.com/images/profile/demo/anakeen@192.webp"
      />
    </div>
  </div>
  <div class="chat-header">
    Anakin
    <time class="text-xs opacity-50">12:46</time>
  </div>
  <div class="chat-bubble">I hate you!</div>
  <div class="chat-footer opacity-50">Seen at 12:46</div>
</div>{% endcomment %}
    <script>
         document.addEventListener("DOMContentLoaded", (event) => {
                let filterContainer = document.querySelector('.filter-checkbox')
                let checkboxes = filterContainer.querySelectorAll('input[type="checkbox"]')
                checkboxes.forEach((checkbox) => {
                    checkbox.classList.add("checkbox", "mr-2", "mb-1")
                })
             console.log(filterContainer)
             console.log(checkboxes)
            })

         document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('filterForm');

    document.querySelectorAll('.filter-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            const formData = new FormData(form);
            const params = new URLSearchParams(formData).toString();

            fetch("{{ request.path }}?" + params, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('facultyResults').innerHTML = data.html;  // <- правильна вставка
            })
            .catch(error => console.error('Помилка:', error));
        });
    });
});



    </script>
{% endblock %}


