{% extends 'universities/layout.html' %}

{% block title %} Форма реєстрації ступенів навчання | MARCI {% endblock %}
{% block content %}
    <div class="w-full flex justify-center">
        <ul class="steps mt-10 w-1/2 steps-vertical  lg:steps-horizontal">
          <li class="step step-primary">Реєстрація даних</li>
          <li class="step step-primary">Налаштування степенів навчання</li>
          <li class="step">Вибір фото</li>
          <li class="step">Кінець!</li>
        </ul>
    </div>
    <form action="" method="post">
    {% csrf_token %}
        <div class="registration-form flex p-10">
            <div id="container" class="w-1/2">
                <div id="form" class="card bg-base-200 border-2 mb-4 border-base-300 p-4">
                    <div class="w-auto flex flex-col gap-3">
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend">Виберіть ступінь освіти</legend>
                          <select name="degree_type" class="select">
                              <option disabled selected>Ступінь освіти</option>
                              <option value="0">Молодший бакалавр</option>
                              <option value="1">Бакалавр</option>
                              <option value="2">Магістр</option>
                              <option value="3">Доктор філології</option>
                              <option value="4">Доктор наук</option>
                          </select>
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Скільки років триває навчання</legend>
                          <select name="degree_duration" class="select">
                              <option disabled selected>Тривалість навчання (в роках)</option>
                              <option>1</option>
                              <option>1.5</option>
                              <option>2</option>
                              <option>2.5</option>
                              <option>3</option>
                              <option>3.5</option>
                              <option>4</option>
                              <option>4.5</option>
                              <option>5</option>
                              <option>5.5</option>
                              <option>6</option>
                          </select>
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Ціна 1 року навчання ($)</legend>
                          <input name="degree_cost" type="text" placeholder="5000" class="input" />
                        </fieldset>
                        <fieldset class="fieldset">
                          <legend class="fieldset-legend text-base-content/40">Дата початку навчання</legend>
                            <input name="semester_start" type="date" class="input" />
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="h-1/3 items-center flex ml-10">
                <button type="button" onclick="addDegree()" class="btn btn-active btn-success">+</button>
            </div>
            <div class="h-1/3 items-center flex ml-10">
                <button type="submit" value="submit" id="submitButton" class="btn btn-active btn-success">Success</button>
            </div>
        </div>
    </form>
        <script>

            let form = null;
            let clonedForm = null;
            document.addEventListener("DOMContentLoaded", function () {
                form = document.querySelector('#form');
                clonedForm = form.cloneNode(true);
            })

            function addDegree() {
                let container = document.getElementById("container");
                container.appendChild(clonedForm);
                clonedForm = form.cloneNode(true);

                let index = 0;
                let section_list = document.querySelectorAll('select');
                section_list.forEach((section) => {
                    section.setAttribute('name', `input_${index}`);
                    index++;
                })

                index = 0;
                let input_list = document.querySelectorAll('input');
                input_list.forEach((input) => {
                    if (input.getAttribute('name') != 'csrfmiddlewaretoken') {
                        input.setAttribute('name', `input_${index}`);
                        index++;
                    }
                })
            }
        </script>
{% endblock %}
