{% extends 'universities/layout.html' %}

{% block title %} Список універитетів | MARCI {% endblock %}
{% block content %}
<div class="ml-25 mr-25 h-full">
    <aside class="float-left h-100 w-1/4 bg-[var(--color-base-300)] mr-10">
        <h2 class="text-center mt-4 mb-4">Фільтри</h2>
        <form id="filterForm" action="" method="GET">
            <div class="join join-vertical bg-base-100 w-full">
              {% for field in filter.form %}
                <div class="collapse collapse-arrow join-item border-base-300 border">
                    <input class="" type="checkbox" name="my-accordion-4" />
                    <div class="collapse-title font-semibold">{{ field.label_tag }}</div>
                    <div class="collapse-content text-sm filter-checkbox">{{ field }}</div>
                </div>
              {% endfor %}
            {% if request.GET %}
                <a href="{% url 'list' %}" class="btn">Скинути фільтри</a>
            {% endif %}
            </div>
        </form>
    </aside>
<div class="flex flex-col items-center gap-5" id="facultyResults">
    {% include 'universities/faculty_template.html' %}
    </div>
</div>

    <script>
         document.addEventListener("DOMContentLoaded", (event) => {
                let checkboxes = document.querySelectorAll('input[type="checkbox"]')
                checkboxes.forEach((checkbox) => {
                    checkbox.classList.add("checkbox", "mr-2", "mb-1")
                })
             console.log(checkboxes)
            })

         document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('filterForm');

    document.querySelectorAll('.filter-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            const formData = new FormData(form);
            const params = new URLSearchParams(formData).toString();

            fetch("{{ request.path }}?" + params, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('facultyResults').innerHTML = data.html;  // <- правильна вставка
            })
            .catch(error => console.error('Помилка:', error));
        });
    });
});



    </script>
{% endblock %}


