{% extends 'universities/layout.html' %}

{% block title %} Університет | MARCI {% endblock %}
{% block content %}

    <div class="bg-base-300 w-full h-170 flex flex-col flex-end justify-end gap-5 text-base-content bg-cover"
        style="{% if main_image.image %}background-image: url('{{ main_image.image.url }}');{% else %}background-color: var(--color-base-content);{% endif %}">
        <div class="card ml-[10%] bg-base-200 w-1/3 p-10">
            <p class="text-xs">{{ university.university_name }}</p>
            <p class="text-xl font-bold tracking-wide">{{ university.faculty_name }}</p>
        </div>
        <div class="card w-4/5 -mb-19 bg-base-200 mx-auto text-base-content pl-30 pr-30 pt-10 pb-10">
            <div class="flex w-full justify-between">
                <div class="flex text-center flex-col items-center">
                    <i class="fa-solid fa-building-columns text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide">
                        {% for degree_type in university.degrees.all %}
                            {{ degree_type.get_type_display }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h2>
                    <span>Ступені навчання!</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-money-check-dollar text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide">
                        {% if has_free and has_paid %}
                            Безкоштовне/Платне
                        {% elif has_free %}
                            Безкоштовне
                        {% elif has_paid %}
                            Платне
                        {% endif %}
                    </h2>
                    <span>Тип освіти</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-location-dot text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide ">{{ university.country }}, {{ university.city }}</h2>
                    <span>Регіон</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-star text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide">
                        4.5
                    </h2>
                    <span>Рейтинг</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-4/5 flex mx-auto text-base-content mt-30">
        <div class="w-1/2 ml-4 ">
            <h2 class="text-2xl font-bold tracking-wide ">Про нас</h2>
            <span>{{ university.university_description }}</span>
        </div>
        <div class="bg-base-200 w-1/2 h-1/2 flex gap-4 p-10">
             <div class="overflow-hidden relative w-full h-64">
                  <div id="carousel" class="flex transition-transform duration-700 ease-in-out w-full h-full">
                      {% for image in additional_images %}
                        <img src="{{ image.image.url }}" class="w-full object-cover flex-shrink-0" />
                      {% endfor %}
                  </div>
            </div>
        </div>
    </div>

    <div class="w-4/5 mx-auto flex mt-5">
        <div class="w-1/4">
            <ul class="menu w-full bg-base-200 rounded-box">
                {% for degree in university.degrees.all %}
                    <li><button onclick="showTab(this, '{{ degree.type }}')">{{ degree.get_type_display }}</button></li>
                {% endfor %}
                <li><button onclick="showTab(this, 'admission_requirements')">Вимоги до вступу</button></li>
                <li><button onclick="showTab(this, 'programme_structure')">Структура програми</button></li>
                <li><button onclick="showTab(this, 'fees_funding')">Плата за навчання та фінансування</button></li>
            </ul>
        </div>

        <div class="w-full bg-base-200 p-6 ml-4 rounded-box shadow-md">
            {% for degree in university.degrees.all %}
                <div id="{{ degree.type }}" class="tab-content hidden">
                    <h2 class="text-xl font-bold mb-5">{{ degree.get_type_display }}</h2>
                    <div class="flex flex-col gap-5">
                        <div class="flex flex-col pb-5 border-b border-[var(--color-base-content)]">
                            <h2 class="text-l font-bold tracking-wide">Ціна</h2>
                            <span>{{ degree.cost }}</span>
                        </div>
                        <div class="flex flex-col pb-5 border-b border-[var(--color-base-content)]">
                            <h2 class="text-l font-bold tracking-wide">Тривалість</h2>
                            <span>{{ degree.duration }}</span>
                        </div>
                        <div class="flex flex-col">
                            <h2 class="text-l font-bold tracking-wide">Дата початку</h2>
                            <span>{{ degree.semester_start }}</span>
                        </div>

                    </div>
                </div>
          {% endfor %}
                <div id="admission_requirements" class="tab-content hidden">
                    <h2 class="text-xl font-bold">Вимоги до вступу</h2>
                    <p> бла бла бла про вступ</p>
                </div>
                <div id="programme_structure" class="tab-content hidden">
                    <h2 class="text-xl font-bold">Структура програми</h2>
                    <p> Потна учоба</p>
                </div>
                <div id="fees_funding" class="tab-content hidden">
                    <h2 class="text-xl font-bold">Плата за навчання та фінансування</h2>
                    <p> Багато денег треба </p>
                </div>
        </div>
    </div>

<script>
    function showTab(button, id) {
        document.querySelectorAll('.tab-content').forEach(tab => {
          tab.classList.add('hidden');
          tab.style.display = 'none';

        });

        // Показати потрібну вкладку
        document.getElementById(id).classList.remove('hidden');
        document.getElementById(id).style.display = 'block';



        // Видалити активний стиль з усіх кнопок
        document.querySelectorAll('.menu li button').forEach(btn => {
          btn.classList.remove('active', 'font-semibold');
        });

        // Додати активний стиль до натиснутої кнопки
        button.classList.add('active', 'font-semibold');
  }

    const carousel = document.getElementById('carousel');
    const slides = carousel.children.length;
    let index = 0;

    setInterval(() => {
      index = (index + 1) % slides;
      carousel.style.transform = `translateX(-${index * 100}%)`;
    }, 3000);
</script>
{% endblock %}
