{% extends 'universities/layout.html' %}

{% block title %} Університет | MARCI {% endblock %}
{% block content %}

    <div class="bg-base-300 w-full h-170 flex flex-col flex-end justify-end gap-5 text-base-content bg-cover"
        style="{% if main_image.image %}background-image: url('{{ main_image.image.url }}');{% else %}background-color: var(--color-base-content);{% endif %}{% comment %}background-image: url('{{ main_image.image.url }}');{% endcomment %}">
        <div class="card ml-[10%] bg-base-200 w-1/3 p-10">
            <p class="text-xs">{{ university.university_name }}</p>
            <p class="text-xl font-bold tracking-wide">{{ university.faculty_name }}</p>
        </div>
        <div class="card w-4/5 -mb-19 bg-base-200 mx-auto text-base-content pl-30 pr-30 pt-10 pb-10">
            <div class="flex w-full justify-between">
                <div class="flex text-center flex-col items-center">
                    <i class="fa-solid fa-building-columns text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide">
                        {% for degree_type in university.degrees.all %}
                            {{ degree_type.get_type_display }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h2>
                    <span>Ступені навчання!</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-briefcase text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide">
                        {% if has_free and has_paid %}
                            Безкоштовне/Платне
                        {% elif has_free %}
                            Безкоштовне
                        {% elif has_paid %}
                            Платне
                        {% endif %}
                    </h2>
                    <span>Тип освіти</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-location-dot text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide ">{{ university.country }}, {{ university.city }}</h2>
                    <span>Регіон</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-money-check-dollar text-xl"></i>
                    <h2 class="text-xl font-bold tracking-wide ">
                        Вересень
                        {% load static %}
                        {% now "Y" as current_year %}
                        {{ current_year }}
                    </h2>
                    <span>Дата початку</span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-4/5 flex mx-auto text-base-content mt-30">
        <div class="w-1/2 ml-4 ">
            <h2 class="text-2xl font-bold tracking-wide ">Про нас</h2>
            <span>{{ university.university_description }}</span>
        </div>
        <div class="bg-base-200 w-1/2 h-1/2 flex gap-4 p-10">
             <div class="overflow-hidden relative w-full h-64">
                  <div id="carousel" class="flex transition-transform duration-700 ease-in-out w-full h-full">
                      {% for image in additional_images %}
                        <img src="{{ image.image.url }}" class="w-full object-cover flex-shrink-0" />
                      {% endfor %}
                  </div>
            </div>
        </div>
    </div>
    <div class="">
        <div>
            <h2 class="text-2xl font-bold tracking-wide">Ступені освіти</h2>
            {% for degree in university.degrees.all %}
                <div>{{ degree.get_type_display }}
                Ціна: {{ degree.cost }}
                Тривалість: {{ degree.duration }}</div>
            {% endfor %}
        </div>
        <div>
            <h2 class="text-2xl font-bold tracking-wide">Зображення</h2>

    </div>
    </div>

<script>
    const carousel = document.getElementById('carousel');
    const slides = carousel.children.length;
    let index = 0;

    setInterval(() => {
      index = (index + 1) % slides;
      carousel.style.transform = `translateX(-${index * 100}%)`;
    }, 3000);
</script>
{% endblock %}
