<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        .tab-content { display: none; }
        .tab-content.active { display: block; }
        .tab-links a { margin-right: 10px; text-decoration: none; font-weight: bold; }
    </style>
</head>

<body class="h-screen">
    <header>
        <div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{% url 'list' %}">Список університетів</a></li>
        <li><a href="{% url 'registration' %}">Зареєструвати факультет</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a href="{% url 'list' %}" class="btn btn-ghost text-xl">MARCI</a>
  </div>
  <div class="navbar-end">
      <div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">
    Theme
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048">
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
    </svg>
  </div>
  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Dark"
        value="dark" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Light"
        value="light" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Corporate"
        value="corporate" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Forest"
        value="forest" />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Luxury"
        value="luxury" />
    </li>
  </ul>
</div>
<div class="dropdown dropdown-left">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <i class="fa-solid fa-user-graduate text-xl"></i>
  </div>
  <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow text-left">
    {% if request.session.student_name %}
        <li><a href="{% url 'account' %}">Мій профіль</a></li>
        <li><a href="{% url 'register' %}">Налаштування акаунту</a></li>
        <li><a href="{% url 'register' %}">Вийти</a></li>
    {% else %}
        <li><a href="{% url 'register' %}">Зареєструватися</a></li>
        <li><a href="{% url 'login' %}">Увійти</a></li>
    {% endif %}
  </ul>
</div></div>
</div>
    </header>
    {% block content %}
    {% endblock %}
<script>
    // Перевірка на наявність вибору теми в localStorage
    window.onload = function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
            const themeInputs = document.querySelectorAll('input[name="theme-dropdown"]');
            themeInputs.forEach(input => {
                if (input.value === savedTheme) {
                    input.checked = true;
                }
            });
        }
    }

    // Додавання прослуховувача подій для зміни теми
    const themeControllers = document.querySelectorAll('.theme-controller');
    themeControllers.forEach(controller => {
        controller.addEventListener('change', function() {
            const selectedTheme = this.value;
            document.documentElement.setAttribute('data-theme', selectedTheme);
            localStorage.setItem('theme', selectedTheme);
        });
    });
</script>
</body>
</html>