{% extends 'universities/layout.html' %}

{% block title %} Список універитетів | MARCI {% endblock %}
{% block content %}

{% for university in university_list %}
<a href="{% url 'university_view' university.id %}" >
  <div class="card w-96 bg-base-100 card-md shadow-sm border">
    <div class="card-body">
        <h2 class="card-title">{{ university.university_name }}</h2>
        <p>{{ university.fakulty_name }}</p>
        <p>{{ university.rektor_name }}</p>
        <p>{{ university.region }}</p>
    </div>
  </div>
</a>
{% endfor %}
    <script>
    // Перевірка на наявність вибору теми в localStorage
    window.onload = function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
            const themeInputs = document.querySelectorAll('input[name="theme-dropdown"]');
            themeInputs.forEach(input => {
                if (input.value === savedTheme) {
                    input.checked = true;
                }
            });
        }
    }

    // Додавання прослуховувача подій для зміни теми
    const themeControllers = document.querySelectorAll('.theme-controller');
    themeControllers.forEach(controller => {
        controller.addEventListener('change', function() {
            const selectedTheme = this.value;
            document.documentElement.setAttribute('data-theme', selectedTheme);
            localStorage.setItem('theme', selectedTheme);
        });
    });
</script>

{% endblock %}

