{% extends 'universities/layout.html' %}

{% block title %} Список універитетів | MARCI {% endblock %}
{% block content %}

{% for university in university_list %}
<a href="{% url 'university_view' university.id %}" >
  <div class="card w-96 bg-base-100 card-md shadow-sm border">
    <div class="card-body">
        <h2 class="card-title">{{ university.university_name }}</h2>
        <p>{{ university.fakulty_name }}</p>
        <p>{{ university.rektor_name }}</p>
        <p>{{ university.region }}</p>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}

