{% extends 'universities/layout.html' %}

{% block title %} Університет | MARCI {% endblock %}
{% block content %}


    <div class="bg-base-300 w-full h-170 flex justify-center items-end text-base-content">
        <div class="card absolute bg-base-200 w-1/3 bottom-2/9 left-1/10 p-10 ">
            <p class="text-xs">{{ university.university_name }}</p>
            <p class="text-xl font-bold tracking-wide">{{ university.fakulty_name }}</p>
        </div>
        <div class="card absolute bottom-5 w-4/5 bg-base-200 text-base-content pl-30 pr-30 pt-10 pb-10">
            <div class="flex w-full justify-between">
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-building-columns text-xl"></i>
                    <h2 class="text-2xl font-bold tracking-wide ">B.Sc, Mg</h2>
                    <span>Ступені навчання</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-briefcase text-xl"></i>
                    <h2 class="text-2xl font-bold tracking-wide ">4-3 роки</h2>
                    <span>Тривалість навчання</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-location-dot text-xl"></i>
                    <h2 class="text-2xl font-bold tracking-wide ">{{ university.region }}</h2>
                    <span>Регіон {{ university.bc }}</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fa-solid fa-money-check-dollar text-xl"></i>
                    <h2 class="text-2xl font-bold tracking-wide ">5.000$</h2>
                    <span>Ціна {{ university.mg }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-20 h-full bg-base-100 text-base-color p-30 flex justify-between">
        <div class="w-3/7">
            <h2 class="text-2xl font-bold tracking-wide ">Про нас</h2>
            <span>{{ university.university_description }}</span>
        </div>
        <div class="bg-base-200 w-3/7 h-1/2">

        </div>
    </div>


{% endblock %}
