{% extends 'universities/layout.html' %}

{% block title %} Список універитетів | MARCI {% endblock %}
{% block content %}
<div class="ml-25 mr-25 h-full">
    <aside class="float-left h-100 w-1/4 bg-[var(--color-base-300)] mr-10">
        <h2 class="text-center mt-4">Фільтри</h2>
    </aside>
<div class="flex flex-col items-center gap-5">
{% for university in university_list %}
    <div class="card w-full bg-base-100 card-md shadow-sm border ml-4 mr-4">
    <a class="inline-block" href="{% url 'university_view' university.id %}" >
        <div class="card-body">
            <h2 class="card-title">{{ university.university_name }}</h2>
            <p>{{ university.fakulty_name }}</p>
            <p>{{ university.rektor_name }}</p>
            <p>{{ university.region }}</p>
        </div>
    </a>
    </div>


{% endfor %}
    </div>
</div>
    <script>
    // Перевірка на наявність вибору теми в localStorage
    window.onload = function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
            const themeInputs = document.querySelectorAll('input[name="theme-dropdown"]');
            themeInputs.forEach(input => {
                if (input.value === savedTheme) {
                    input.checked = true;
                }
            });
        }
    }

    // Додавання прослуховувача подій для зміни теми
    const themeControllers = document.querySelectorAll('.theme-controller');
    themeControllers.forEach(controller => {
        controller.addEventListener('change', function() {
            const selectedTheme = this.value;
            document.documentElement.setAttribute('data-theme', selectedTheme);
            localStorage.setItem('theme', selectedTheme);
        });
    });
</script>


{% endblock %}

